<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
    <div class="centered-block markdown-container mat-typography">

        <!-- This is where Scully will inject the static HTML -->
        <scully-content></scully-content>
    </div>
</mat-card>
