<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <div class="centered-block markdown-container mat-typography">
    <h1 class="fancy mat-display-3">Pricing</h1>

    <app-payment></app-payment>

    <h2 class="mat-display-1">Self-hosted support FAQs</h2>
    <dl>
      <app-question-and-answer
        question="Can you install GlitchTip for me?"
        answer="For a one time $500 fee, we'll set up GlitchTip for you on your infrastructure or a platform such as DigitalOcean, AWS, or Heroku."
      >
      </app-question-and-answer>

      <app-question-and-answer
        question="What is update assistance?"
        answer="We can assist with updating GlitchTip. You may update it yourself at any time OR request that we update for you monthly. For the later, you will need to give us sufficient access to your environment and we will manage it for you."
      ></app-question-and-answer>

      <app-question-and-answer question="What type of support is provided?">
        <p>
          We'll respond via email and live chat during US Eastern Time (UTC-5)
          business hours. With Enterprise, we can join your companies chat
          service such as Slack or Rocket.Chat. We will help you use GlitchTip
          and integrate your apps with it.
        </p>

        <p>
          Development requests will be prioritized and specific features can be
          developed at additional costs.
        </p>
      </app-question-and-answer>
    </dl>
  </div>
</mat-card>
