.plans {
  margin: 20px 2px;
}

mat-tab-group ::ng-deep {
  .mat-tab-labels {
    justify-content: center;
  }
  .mat-tab-label {
    height: 60px;
    opacity: 1;
  }
  .mat-tab-label-content {
    flex-direction: column;

    p {
      margin: -2px 0;

      &:first-child {
        font-weight: 500;
      }
    }
  }

  .mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .value-props {
      flex: 1;
      margin-bottom: 15px;

      li {
        margin: 2px 0;
        line-height: 1.2;
      }
    }
  }
}
